<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126903980574-ifu84rm4jdk77tcvpdj3fm6fnsu7jm9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126903980574-ifu84rm4jdk77tcvpdj3fm6fnsu7jm9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCYz56sa6CE6HuVbV8kJZUtYFoWP9O_GDo</string>
	<key>GCM_SENDER_ID</key>
	<string>126903980574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ferreira.gomes.WhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>nutri-ee32d</string>
	<key>STORAGE_BUCKET</key>
	<string>nutri-ee32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126903980574:ios:66be31d4a7685688</string>
	<key>DATABASE_URL</key>
	<string>https://nutri-ee32d.firebaseio.com</string>
</dict>
</plist>